.mystery-machine {
  position: relative;
  /* width: min(540px, 100%); */
  box-shadow: -10px -10px 200px -20px rgba(69, 69, 164, 0.25),
    0 30px 10px -10px rgba(64, 42, 42, 0.3),
    inset 0 -5px 6px -10px rgba(10, 37, 64, .35);
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25),
    0 30px 60px -30px rgba(0, 0, 0, .3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
  border-radius: .5rem;
  background-color: #FFF;
  /* border: 0.5px solid rgba(34, 38, 42, 0.07); */
  /* 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35); */
}

.completed {
  width: calc(min(500px, 100vw) + 200px);
  height: 100vh;
  background-image: url('/public/images/confetti.svg');
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
  /* animation: killbackground 2s cubic-bezier(0.075, 0.82, 0.165, 1) 1s both; */
  animation: killbackground 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s 1 forwards;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes killbackground {
  0% {
    opacity: 1;
  }


  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.canvas-container {
  position: relative;
  display: grid;
  place-items: center;
}

.instruction-container {
  position: absolute;
  left: 52rem;
  top: 0;
}


@media screen and (max-width: 400px) {
  .confirmation-call-to-actions>button {
    width: 100%;
    margin: .5rem;
  }
}