.announcement {
  height: 3rem;
  width: 100%;
  margin-bottom: 1px;
}

.announcement-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.announcement-content * {
  font-size: 1.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  padding: 0 2rem;
  text-decoration: none;
}

.announcement-content a {
  color: inherit;
}

.announcement-content p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}